.ch-rating-bar {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
}

.ch-rating-bar:last-child {
    margin-bottom: 0;
}

.ch-rating-bar:hover {
    text-decoration: underline;
    cursor: pointer;
}

.ch-rating-bar>span {
    min-width: 40px;
    white-space: nowrap;
}